<p class="text-gray-500 appear-anim" [style]="'--index: 1'">
    Select a scenario to see how labels and neurons correlate
</p>
<div class="flex flex-row gap-10">
    @for (scenario of store.scenarios(); track $index) {
    <app-scenario-card class="appear-anim" [style]="`--index: ${$index+4}`" [id]="scenario.id" [title]="scenario.name"
        [subtitle]="scenario.description" [primaryColor]="scenario.primaryColor"></app-scenario-card>
    }
</div>

<div class="absolute left-8 bottom-8 flex flex-row gap-4">
    <a href="https://github.com/brunibrun/FADE">
        <img class="h-12 w-12" src="images/github-logo.png" alt="Link to github repo">
    </a>
    <a href="https://arxiv.org/abs/2502.16994">
        <img class="h-12 w-12 grayscale" src="images/xarchive-logo.png" alt="Link to xarchive paper">
    </a>
</div>