@use "tailwindcss";

:host {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: auto;
    @apply px-20 gap-12;
}

h1 {
    @apply font-normal mt-0;
}

p {
    @apply text-gray-500;
}