@if(this.label()){
<div class="flex flex-col justify-between min-w-90">
    <div class="flex flex-col max-w-100 activation-transition overflow-auto pb-1">
        <h2>Activations</h2>
        <h4 class="text-gray-500 mb-3">The text that activated the neuron</h4>
        <div class="overflow-auto ">
            @for (activation of this.selectedNeuron()!.activations; track $index) {
            <app-activation [animationEnabled]="false" [activation]="activation"></app-activation>
            }
        </div>
    </div>
    <div class="pb-5">
        <div class="flex gap-2 items-center">
            <img src="/icons/info-icon.svg" alt="">
            <h3>Additional Info</h3>
        </div>
        <p>
            {{this.label()!.additionalInfo}}
        </p>
    </div>
</div>
<div class="overflow-y-auto max-h-[90vh]">
    <div>
        <div class="flex gap-2 items-center">
            <img src="/icons/clarity-icon.svg" alt="">
            <h1>Clarity</h1>
            <app-progress-bar [progress]="this.label()?.clarity?.score" [color]="this.label()?.primaryColor"
                [backgroundColor]="this.label()?.secondaryColor"></app-progress-bar>
        </div>
        <div class="flex gap-3 flex-col max-h-[25vh] overflow-y-hidden">

            @for (text of this.label()!.clarity.text; track $index) {
            <p>
                {{text}}
            </p>
            }
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <img src="/icons/responsivness-icon.svg" alt="">
            <h1>Responsivness</h1>
            <app-progress-bar [progress]="this.label()?.responsivness?.score" [color]="this.label()?.primaryColor"
                [backgroundColor]="this.label()?.secondaryColor"></app-progress-bar>
        </div>
        <div class="flex gap-3 flex-col max-h-[25vh] overflow-y-hidden">
            @for (text of this.label()!.responsivness.text; track $index) {
            <p>
                {{text}}
            </p>
            }
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <img src="/icons/faithfulness-icon.svg" alt="">
            <h1>Faithfulness</h1>
            <app-progress-bar [progress]="this.label()?.faithfulness?.score" [color]="this.label()?.primaryColor"
                [backgroundColor]="this.label()?.secondaryColor"></app-progress-bar>
        </div>
        <div class="max-h-[25vh] overflow-y-hidden">
            <div class="flex gap-3 flex-col">
                @for (text of this.label()!.faithfulness.steered; track $index) {
                <p>
                    {{text}}
                </p>
                }
            </div>
            <div class="flex gap-3 flex-col">
                @for (text of this.label()!.faithfulness.unsteered; track $index) {
                <p>
                    {{text}}
                </p>
                }
            </div>
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <img src="/icons/purity-icon.svg" alt="">
            <h1>Purity</h1>
            <app-progress-bar [progress]="this.label()?.purity?.score" [color]="this.label()?.primaryColor"
                [backgroundColor]="this.label()?.secondaryColor"></app-progress-bar>
        </div>
        <img class="rounded-md" [ngSrc]="this.label()!.purity.plot" alt="Plot describing purity data" width="500"
            height="300">

    </div>

</div>
}