@if(this.label()){
<div class="flex-1 flex flex-col justify-between min-w-90">
    <div class="flex flex-col activation-transition overflow-auto pb-1">
        <h2>Activations</h2>
        <h4 class="!text-gray-500 !text-sm mb-3">The text that activated the neuron</h4>
        <div class="overflow-auto ">
            @for (activation of this.selectedNeuron()!.activations; track $index) {
            <app-activation [animationEnabled]="false" [activation]="activation"></app-activation>
            }
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <img src="/icons/info-icon.svg" alt="">
            <h3>Additional Info</h3>
        </div>
        <p>
            {{this.label()!.additionalInfo}}
        </p>
    </div>
</div>
<div class="flex-5 overflow-y-auto">
    <div>
        <div class="flex gap-2 items-center">
            <app-dimension [dimension]="this.labelToDimension({
                    iconUrl: '/icons/clarity-icon.svg',
                    score: this.label()!.clarity.score,
                    type: 'Clarity',
                    activations: this.label()!.clarity.text,
                    primaryColor: this.label()!.primaryColor,
                    backgroundColor: this.label()!.secondaryColor
                })"></app-dimension>
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <app-dimension [dimension]="this.labelToDimension({
                    iconUrl: '/icons/responsivness-icon.svg',
                    score: this.label()!.responsivness.score,
                    type: 'Responsivness',
                    primaryColor: this.label()!.primaryColor,
                    backgroundColor: this.label()!.secondaryColor,
                    randomActivations: [],
                    topActivations: [] 
                })"></app-dimension>
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <app-dimension [dimension]="this.labelToDimension({
                    iconUrl: '/icons/faithfulness-icon.svg',
                    score: this.label()!.faithfulness.score,
                    type: 'Faithfulness',
                    primaryColor: this.label()!.primaryColor,
                    backgroundColor: this.label()!.secondaryColor,
                    steered: [],
                    unsteered: []
                })"></app-dimension>
        </div>
    </div>
    <div>
        <div class="flex gap-2 items-center">
            <app-dimension [dimension]="this.labelToDimension({
                    iconUrl: '/icons/purity-icon.svg',
                    score: this.label()!.purity.score,
                    type: 'Purity',
                    primaryColor: this.label()!.primaryColor,
                    backgroundColor: this.label()!.secondaryColor,
                    activations: []
                })"></app-dimension>
        </div>
    </div>
</div>
}