@if(activatedRoute.firstChild?.data | async; as data){
@if(data['id'] !== 0){
<a class="button absolute" [routerLink]="['../']" [relativeTo]="activatedRoute.firstChild">
    <img class="w-8" src="/icons/chevron-left-icon.svg" alt="">
</a>
}
}
<h1 class="flex-1 text-center !mt-1">
    @if(this.store.customHeaderTitle()){
    {{this.store.customHeaderTitle()}}
    }@else{
    {{activatedRoute.firstChild?.title | async}}
    }
</h1>
@if(this.store.selectedScenario!()){
<div class="absolute w-4 h-4 rounded right-4 top-3 appear-anim"
    [style.background-color]="this.store.selectedScenario!()!.primaryColor" title="Current Selected Scenario"></div>
}