@use "tailwindcss";

:host {
    display: flex;
    flex-direction: column;
    @apply mx-30 pb-15 overflow-hidden max-h-[100%];
}

section,
p {
    @apply text-gray-700;
}

section {
    @apply mb-3;
}

ul {
    list-style: circle inside;
    @apply text-gray-700;
}

a {
    @apply text-blue-500;
}