@import "tailwindcss";

:host {
    display: flex;
    flex-direction: column;
    @apply mx-30 overflow-auto h-[100%];
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    @apply mt-8 mb-0;
}

ul {
    list-style: circle inside;
}

section {
    @apply mb-3;
}

a {
    @apply text-blue-500;
}