@use "tailwindcss";

:host {
    display: flex;
    flex-direction: column;
    @apply mx-30 pb-15 overflow-hidden max-h-[100%];
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
    @apply mt-8 mb-0 text-gray-800;
}

section,
p {
    @apply text-gray-700;
}

ul {
    list-style: circle inside;
}

section {
    @apply mb-3;
}

a {
    @apply text-blue-500;
}