@if (!store.isLoadingDemoData()) {
<app-header></app-header>
<div class="p-4 overflow-hidden">
    <router-outlet></router-outlet>
</div>
}@else {
<!-- Todo: Add proper loading animations -->
Loading...
}

@if(store.failedLoadingDemoData && store.failedLoadingDemoData()){
{{store.failedLoadingDemoData()}}
}
<div class="flex  absolute right-4 bottom-4 text-xs text-gray-500 gap-1">
    <span>© 2025 Fraunhofer-Gesellschaft</span>
    <span>|</span>
    <a class="underline" routerLink="./legal-info">Legal Info</a>
</div>