<div class="flex flex-row gap-2 pb-2">
    <img [src]="this.dimension()!.iconUrl" alt="" height="24px" width="24px">
    <div class="flex flex-col">
        <h3>{{this.dimension()?.type}}</h3>
        <app-progress-bar [color]="this.dimension()?.primaryColor" [backgroundColor]="'gray-500'"
            [progress]="this.dimension()!.score"></app-progress-bar>
    </div>
</div>

@if (this.isFaithfulnessDimension(this.dimension())) {
<div class="flex flex-row gap-4">
    <div class="flex-1">
        <h4>Unsteered</h4>
        @for (t of (this.asFaithfulnessDimension()).unsteered; track $index) {
        <p class="!text-sm text-gray-500 pb-2">
            <span class="!text-sm text-gray-500" [class.highlight]="t[1]">[...] {{t[0]}} [...]</span>
        </p>
        }
    </div>
    <div class="flex-1">
        <h4>Steered</h4>
        @for (t of (this.asFaithfulnessDimension()).unsteered; track $index) {
        <p class="!text-sm text-gray-500 pb-2">
            <span class="!text-sm text-gray-500" [class.highlight]="t[1]"> [...] {{t[0]}} [...] </span>
        </p>
        }
    </div>
</div>
}@else if (this.isResponsivenessDimension(this.dimension())) {
<div class="flex flex-row gap-4">
    <div class="flex-1">
        <h4>Top Activations</h4>
        @for (t of (this.asResponsivnessDimension()).topActivations; track $index) {
        <p class="!text-sm text-gray-500 pb-2">
            <span class="!text-sm text-gray-500" [class.highlight]="t[1]"> [...] {{t[0]}} [...] </span>
        </p>
        }
    </div>
    <div class="flex-1">
        <h4>Random Activations</h4>
        @for (t of (this.asResponsivnessDimension()).randomActivations; track $index) {
        <p class="!text-sm text-gray-500 pb-2">
            <span class="!text-sm text-gray-500" [class.highlight]="t[1]"> [...] {{t[0]}} [...] </span>
        </p>
        }
    </div>
</div>
}@else if (this.isDimension(this.dimension())) {
@for (t of (this.asDimension()).activations; track $index) {
@if (this.asDimension().type == 'Purity') {
<p class="!text-sm text-gray-500 pb-2">
    <span class="!text-sm text-gray-500 p-1" [class.highlight]="t[1]"> [...] {{t[0]}} [...] </span>
</p>
}@else {
<p class="!text-sm text-gray-500 pb-2">
    [...] {{t}} [...]
</p>
}
}

}