<div class="flex flex-row gap-2 pb-1">
    <img [src]="this.dimension()!.iconUrl" alt="" height="24px" width="24px">
    <div class="flex flex-col">
        <h3>{{this.dimension()?.type}}</h3>
        <app-progress-bar [color]="this.dimension()?.primaryColor" [backgroundColor]="this.dimension()?.backgroundColor"
            [progress]="this.dimension()!.score"></app-progress-bar>
    </div>
</div>

@if (this.isFaithfulnessDimension(this.dimension())) {
<div class="flex flex-row gap-4">
    <div>
        <h4>Unsteered</h4>
        @for (t of (this.asFaithfulnessDimension()).unsteered; track $index) {
        <p class="!text-sm text-gray-500">
            [...] {{t}} [...]
        </p>
        }
    </div>
    <div>
        <h4>Steered</h4>
        @for (t of (this.asFaithfulnessDimension()).unsteered; track $index) {
        <p class="!text-sm text-gray-500">
            [...] {{t}} [...]
        </p>
        }
    </div>
</div>
}@else if (this.isResponsivenessDimension(this.dimension())) {
<div class="flex flex-row gap-4">
    <div>
        <h4>Top Activations</h4>
        @for (t of (this.asResponsivnessDimension()).topActivations; track $index) {
        <p class="!text-sm text-gray-500">
            [...] {{t}} [...]
        </p>
        }
    </div>
    <div>
        <h4>Random Activations</h4>
        @for (t of (this.asResponsivnessDimension()).randomActivations; track $index) {
        <p class="!text-sm text-gray-500">
            [...] {{t}} [...]
        </p>
        }
    </div>
</div>
}@else if (this.isDimension(this.dimension())) {
@for (t of (this.asDimension()).activations; track $index) {
<p class="!text-sm text-gray-500">
    [...] {{t}} [...]
</p>
}

}