<div class="pb-2">
    <span class="text-gray-400" [class.appear-anim]="this.animationEnabled()" [style]="`--index: 0`"
        [class.opacity-0]="this.animationEnabled()">[...]</span>
    @for (text of activation().activationText; track $index) {
    <span [class.appear-anim]="this.animationEnabled()" [class.opacity-0]="this.animationEnabled()"
        class="text-gray-500 !text-sm py-1" [style.backgroundColor]="`rgba(255,255,${text.activationValue * 255}, 0.5)`"
        [style]="`--index: ${$index}`">
        {{text.text}}
    </span>
    }
    <span class="text-gray-400" [class.appear-anim]="this.animationEnabled()"
        [class.opacity-0]="this.animationEnabled()"
        [style]="`--index: ${activation().activationText.length + 1}`">[...]</span>
</div>