<div class="flex flex-col text-gray-500 items-center animate-position flex-1">
    <div class="flex flex-row h-full ">
        <div class="flex flex-col items-center gap-4 ">
            <div class="gap-2 flex flex-col animate-tutorial-text overflow-hidden text-nowrap opacity-0 appear"
                style="--delay: 0.2s" [class.hide-tutorial-text]="this.selectedNeuron()"
                [class.appear]="!this.neuronId()" [class.opacity-0]="!this.neuronId()">
                <p>
                    Select a neuron to see its labels
                </p>
                <p>
                    Scroll to explore the neurons
                </p>
            </div>
            @if (this.store.selectedScenario) {
            <app-neuron-select [neurons]="this.store.neurons()"
                [activeNeuronIds]="this.store.selectedScenario()!.neuronIds" [class.appear]="!this.neuronId()"
                [class.opacity-0]="!this.neuronId()" style="--delay: 0.5s"></app-neuron-select>
            }
        </div>
        <div class="h-140 w-[2px] bg-gray-300 opacity-0" [class.animate-bar]="this.selectedNeuron()"></div>
    </div>
</div>
<div class="flex-0 animate-position overflow-hidden" [class.flex-4]="this.store.visitedNeuronSelectPage()"
    [class.flex-anim]="this.selectedNeuron() && !this.store.visitedNeuronSelectPage()">
    @if (this.selectedNeuron()) {
    <div class="appear-anim flex flex-row ml-4" [class.appear-anim]="!this.store.visitedNeuronSelectPage()">
        <div class="flex-1 flex flex-col items-center mr-4">
            <app-fade-plot></app-fade-plot>
            <div class="h-[2px] bg-gray-300 w-[80%] my-4"></div>
            <h2 class="self-start ml-3">Labels</h2>
            <div class="flex flex-col gap-3 mx-3 mt-1 self-start">
                @for (label of this.selectedNeuron()!.labels; track $index) {
                <a [routerLink]="`./label-details/${label.id}`" (mouseenter)="onMouseEnter(label)"
                    (mouseleave)="onMouseLeave()" class="text-blue-500 flex flex-row gap-2 underline">
                    <div class="w-6 h-6 rounded" [style.background-color]="label.primaryColor"></div>
                    {{label.name}}
                </a>
                }
            </div>
        </div>
        <div class="flex flex-col max-w-100 activation-transition">
            <h2>Activations</h2>
            <h4 class="text-gray-500 !text-sm !text-gray-500 mb-3">The text that activated the neuron</h4>
            <div class="overflow-auto max-h-[75vh]">
                @for (activation of this.selectedNeuron()!.activations; track $index) {
                <app-activation [animationEnabled]="!this.store.visitedNeuronSelectPage()"
                    [activation]="activation"></app-activation>
                }
            </div>
        </div>
    </div>

    }
</div>