<div class="flex flex-col gap-4 text-gray-500 items-center ">
    @if(!this.selectedNeuron()){
    <div class="gap-2 flex flex-col">
        <p>
            Select a neuron to see its labels
        </p>
        <p>
            Scroll to explore the neurons
        </p>
    </div>
    }
    @if (this.store.selectedScenario) {
    <app-neuron-select [neurons]="this.store.neurons()"
        [activeNeuronIds]="this.store.selectedScenario()!.neuronIds"></app-neuron-select>
    }
</div>

@if (this.selectedNeuron()) {
<div>
    <h2>Activations</h2>
    <div>
        @for (activation of this.selectedNeuron()!.activations; track $index) {
        <app-activation [activation]="activation"></app-activation>
        }
    </div>
    <h2>Labels</h2>
    <div class="m-3">
        @for (label of this.selectedNeuron()!.labels; track $index) {
        <a [routerLink]="`./label-details/${label.id}`" (mouseenter)="onMouseEnter(label)"
            (mouseleave)="onMouseLeave(label)" class="bg-blue-500 text-white p-2 m-2 rounded-md">
            {{label.name}}</a>
        }
    </div>
</div>

<app-fade-plot></app-fade-plot>

}