@use "tailwindcss";

:host {
    display: flex;
    @apply justify-center flex-1 items-center;
    transition: all 1s;
}

.animate-tutorial-text {
    transition: opacity 0.3s ease-out 0.2s;
}

.hide-tutorial-text {
    opacity: 0;
}

.animate-position {
    transition: all 1s ease-out 0.4s;
}

.appear-anim {
    transition: opacity 0.5s ease-in 0.8s;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.animate-bar {
    transition: opacity 0.5s ease-in 0.8s;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.flex-anim {
    flex: 4;
    transition: flex 1s ease-out 0.4s;

    @starting-style {
        flex: 0;
    }
}

.appear {
    animation: appear-anim-2 0.9s ease-out calc(0.5s + var(--delay)) 1 forwards;
}

@keyframes appear-anim-2 {
    from {
        translate: 0% -30px;
        opacity: 0;
    }

    to {
        translate: 0% 0px;
        opacity: 1;
    }
}