:host {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content min-content;
    row-gap: 0.3em;
    column-gap: 0.3em;

    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
    transition-delay: 300ms;

    @starting-style {
        opacity: 0;
        transform: translateY(40px);
    }
}

.insert-container {
    opacity: 0.5;
    transition: opacity 0.3s ease-in calc(0.2s * var(--index)), transform 0.5s ease-out, fill 0.3s ease-in-out;


    @starting-style {
        opacity: 0;
        transform: translateY(20px);
    }
}

.highlighted {
    transition: 0.3s ease-in;
    opacity: 0.9;
}