:host {
    display: grid;
    grid-template-columns: min-content min-content min-content;
    grid-template-rows: min-content min-content min-content;
    row-gap: 0.3em;
    column-gap: 0.3em;
}

.insert-container {
    opacity: 1;
    transition: opacity 1s ease-out, transform 0.5s ease-out, fill 0.3s ease-in-out;
    transition-delay: calc(300ms * var(--index));

    @starting-style {
        opacity: 0;
        transform: translateY(20px);
    }
}

.hover-effect {
    transition: fill 0.3s ease-in-out;

}